target/
*.iml
.idea
bin/
Selenium/selenium-blizzard/test-output/*.*
Android-Mobile-Tests/.classpath
*.html
*.png
.metadata/*.*
STB_Automation_G2/stb-automation/config.iuliia.properties
STB_Automation_G2/stb-automation/params.properties
STB_Automation_G2/stb-automation/settings.properties
STB_Automation_G2/stb-automation/logcat_logs/*.*
STB_Automation_G2/stb-automation/test-output/*
STB_Automation_G2/stb-automation/logs/*.*
STB_Automation_G2/stb-automation/keystore/*.*
STB_Automation_G2/stb-automation/screenshots/*.*
STB_Automation_G2/stb-automation/.classpath
STB_Automation_G2/stb-automation/.project
STB_Automation_G2/stb-automation/.settings/*.*
automation-generator/.classpath
automation-generator/.project
automation-generator/.settings/*.*
automation-generator/.settings/*.*
automation-generator/test-output/*
automation-generator/logs/*
automation-generator/src/main/resources/applicationContext.xml
rest-client/rest/.classpath
rest-client/rest/.project
rest-client/rest/.settings/*.*
base/.classpath
base/.project
base/.settings/*.*
java/*
Selenium/*
SC/*